<section>
  <h1>SorteApp</h1>
  <p>Pagina web creada para realizar sorteos de forma aleatoria donde debe ingresar el numero minimo y maximo de participantes, ademas del numero de ganadores</p>
  <form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Número mínimo</mat-label>
      <input 
        matInput
        type="number" 
        formControlName="min" 
        (keypress)="preventInvalidInput($event)"
      />
      <mat-error 
        *ngIf="form.get('min')?.hasError('required')"
      >
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field 
      appearance="outline">
      <mat-label>Número máximo</mat-label>
      <input 
        matInput 
        type="number" 
        formControlName="max"
        [min]="2"
        (keypress)="preventInvalidInput($event)"
      />
      <mat-error 
        *ngIf="form.get('max')?.hasError('required')"
      >
        Este campo es obligatorio.
      </mat-error>
      <mat-error 
        *ngIf="form.get('max')?.hasError('min')"
      >
        El numero maximo debe ser por lo menos {{ minValue }} o mayor.
      </mat-error>
    </mat-form-field>
    <mat-form-field 
      appearance="outline"
    >
      <mat-label>Cantidad de ganadores</mat-label>
      <input 
        matInput 
        type="number" 
        formControlName="winners"
        [min]="1"
        [max]="30"
        (keypress)="preventInvalidInput($event)"
      />
      <mat-error 
        *ngIf="form.get('winners')?.hasError('required')"
      >
        Este campo es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('winners')?.hasError('max')">
        Actualmente solo puedes elegir un número de ganadores entre 1 y 30.
      </mat-error>
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary" 
      type="submit"
      [disabled]="form.invalid || isLoading"
    >
    <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
    <span 
      *ngIf="!isLoading"
    >
      Generar
    </span>
    </button>
    <button 
      mat-raised-button 
      color="warn" 
      type="button" 
      (click)="onReset()"
      [disabled]="disableButtonClean"
    >
      Limpiar
    </button>
  </form>
  <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
  <div *ngIf="results.length > 0" style="margin-top: 16px;">
    <h2>Resultados:</h2>
    <ul>
      <li *ngFor="let result of results">{{ result }}</li>
    </ul>
  </div>
</section>